:root {
  --main-dark-color: #142850;
  --secondary-dark-color: #27496d;
  --highlight-color: #00909e;
  --neutral-color: #dae1e7;

  --highlight-font: "Poppins";
  --main-font: "Lato";
}

body {
  margin: 0;
  font-family: var(--main-font);
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
